/.Rhistory
/hoeffding56.pdf
/nhbinomial.pdf
/stata/docs/d.pdf
/stata/docs/g.pdf
/stata/docs/gsm.pdf
/stata/docs/gsu.pdf
/stata/docs/gsw.pdf
/stata/docs/i.pdf
/stata/docs/ig.pdf
/stata/docs/m.pdf
/stata/docs/mi.pdf
/stata/docs/mv.pdf
/stata/docs/p.pdf
/stata/docs/r.pdf
/stata/docs/sem.pdf
/stata/docs/st.pdf
/stata/docs/stoc.pdf
/stata/docs/svy.pdf
/stata/docs/ts.pdf
/stata/docs/u.pdf
/stata/docs/update
/stata/docs/xt.pdf
/stata/nplconf.ado
/stata/nplconf.sthlp
/stata/npmean.ado
/stata/npmean.sthlp
/stata/stochin.ado
/stata/stochin.sthlp
/R/.Rhistory
/R/iid_binomtest.R
/stata/calcPvalue.ado
